* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    filter: invert(100%);
    width: 200px;
}

body {
    background-color: rgb(213, 232, 238);
}

.container {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}

.title {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: .9rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.input {
    display: flex;
    gap: 1rem;
    align-items: center;
}

input {
    padding: .2rem 1rem;
    border-color: black;
}

li {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 1rem;
    width: 400px;
    list-style-type: none;
    border-bottom: 1px solid black;
    line-height: 30px;
}

label {
    font-size: 1.5rem;
}

.done {
    text-decoration:line-through darkred;
}

.delete {
    color: darkred;
    cursor: pointer;
}

.item-list {
    cursor:cell;
}

.done-list h2 {
    text-align: center;
}

hr {
    width: 100%;
    height: 3px;
}

button {
    padding: .2rem 1rem;
    border-color: black;
}
